In [1]:
import pandas as pd
import random as rd

In [2]:
data = pd.read_csv("../data/train.csv")

In [3]:
data.head()

,genre_id,ts_listen,media_id,album_id,context_type,release_date,platform_name,platform_family,media_duration,listen_type,user_gender,user_id,artist_id,user_age,is_listened
0,25471,1480597215,222606,41774,12,20040704,1,0,223,0,0,9241,55164,29,0
1,25571,1480544735,250467,43941,0,20060301,2,1,171,0,0,16547,55830,30,1
2,16,1479563953,305197,48078,1,20140714,2,1,149,1,1,7665,2704,29,1
3,7,1480152098,900502,71521,0,20001030,0,0,240,0,1,1580,938,30,0
4,7,1478368974,542335,71718,0,20080215,0,0,150,0,1,1812,2939,24,1

In [4]:
x = [x for x in data.groupby('media_id')]

In [13]:
def get_alpha_beta_from_df(df):
    ones = df.is_listened.sum()
    return ones, df.shape[0] - ones

In [15]:
y = dict((key, get_alpha_beta_from_df(value)) for key, value in x)

In [21]:
max(list(y.values()), key=lambda x: x[0]+x[1])

(15415, 4733)

In [12]:
prob_zero = 2388342 / 7558834
prob_one = 5170492 / 7558834